
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <p>
              These calculators are designed to be informational and educational tools only, and when used alone, do not constitute investment advice. We strongly recommend that you seek the advice of a financial services professional before making any type of investment. We also encourage you to review your investment strategy periodically as your financial circumstances change. This model is provided as a rough approximation of future financial performance. The results presented by this calculator are hypothetical and may not reflect the actual growth of your own investments. FINRA and its affiliates are not responsible for the consequences of any decisions or actions taken in reliance upon or as a result of the information provided by these tools. FINRA is not responsible for any human or mechanical errors or omissions.
            </p>
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                  &copy; <a href="https://www.bootstrapdash.com/?ref=23" rel="noreferrer noopener" target="_blank">BootstrapDash</a> 
                  - coded by <a target="_blank" rel="noreferrer noopener" href="https://appseed.us">AppSeed</a>.
                </span>
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                <a href="https://appseed.us/admin-dashboards/django-dashboard-corona-dark">Django Corona Dark</a> - Free admin panel.
              </span>
            </div>
          </footer>
          <!-- partial -->
