body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
}

body > * {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
  padding: 48px 16px 16px 16px;
}

.chart-container {
  width: 600px;
}

#pie-chart {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

input[type=text] {
  width: 100%;
  display: block;
}

.large {
  width: 54%;
}

.small {
  width: 10%;
}

.tiny {
  width: 6%;
}

/* see me */
td {
  border: solid;
}

