body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
}

body > * {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
  padding: 48px 16px 16px 16px;
}

.chart-container {
  width: 600px;
}

#pie-chart {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

input[type=text] {
  width: 100%;
  display: block;
}

.two-one {
  width: 21%;
}

.two-zero {
  width: 20%;
}

.one-nine {
  width: 19%;
}

.one-eight {
  width: 18%;
}

.one-seven {
  width: 17%;
}

.one-six {
  width: 16%;
}

.one-five {
  width: 15%;
}

.one-three {
  width: 13%;
}

.one-two {
  width: 12%;
}

.onezero {
  width: 10%;
}

.nine {
  width: 9%;
}

.eight {
  width: 8%;
}

.seven {
  width: 7%;
}

.six {
  width: 6%;
}

.five {
  width: 5%;
}

.four {
  width: 4%;
}

.three {
  width: 3%;
}

/* see me */
td {
  border: solid;
}

