{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Summary {% endblock %}
<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/app.css">
{% endblock stylesheets %}
{% block content %}

<form action="/cash_secured_puts/" method="POST">
  <h4 class="card-title">filters</h4>
  <table class="table table-bordered">
    <colgroup>
      <col class="large" />
      <col class="small" />
      <col class="small" />
      <col class="small" />
      <col class="small" />
      <col class="tiny" />
    </colgroup>
    <tbody>
      <tr>
        <th> tickers </th>
        <th> max_days_to_exp </th>
        <th> max_otm_percent </th>
        <th> max_itm_percent </th>
        <th> min_cost_to_collatral_pc </th>
      </tr>
      <tr>
        <td> <input id="tickers"                        type="text" name="tickers"                        value="{{ tickers }}"> </td>
        <td> <input id="max_days_to_exp"                type="text" name="max_days_to_exp"                value="{{ max_days_to_exp }}"> </td>
        <td> <input id="max_otm_percent"                type="text" name="max_otm_percent"                value="{{ max_otm_percent }}"> </td>
        <td> <input id="max_itm_percent"                type="text" name="max_itm_percent"                value="{{ max_itm_percent }}"> </td>
        <td> <input id="min_premium_to_collatral_ratio" type="text" name="min_premium_to_collatral_ratio" value="{{ min_premium_to_collatral_ratio }}"> </td>
        <th> <input type="submit" value="submit" name='submit'> </th>
      </tr>
    </tbody>
  </table>
  {% csrf_token %}
  <div id="chartContainer" style="height: 700px; width: 100%;"></div>
</form>

{% endblock content %}
{% block plugin_javascripts %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock plugin_javascripts %}
{% block javascripts %}
<script>
  var colors = [
    "#046507",
    "#06950a",
    "#07c40d",
    "#37f63d",
    "#95fa98",
    "#c4fcc5",
  ];

  function delta_color(delta, min, max) {
    var diff = max - min;
    delta = (delta - min) * colors.length / diff;
    delta = Math.floor(delta);
    if (delta == colors.length)
    {
      delta = colors.length - 1;
    }
    return colors[delta];
  }

  window.onload = function () {
    var idx                        = 0;
    var iv                         = {{ iv                         | safe }}
    var dte                        = {{ dte                        | safe }}
    var delta                      = {{ delta                      | safe }}
    var theta                      = {{ theta                      | safe }}
    var symbol                     = {{ symbol                     | safe }}
    var strike                     = {{ strike                     | safe }}
    var premium                    = {{ premium                    | safe }}
    var exp_date                   = {{ exp_date                   | safe }}
    var curr_price                 = {{ curr_price                 | safe }}
    var otm_percent                = {{ otm_percent                | safe }}
    var annual_return              = {{ annual_return              | safe }}
    var ownership_cost             = {{ ownership_cost             | safe }}
    var drop_to_loss_percent       = {{ drop_to_loss_percent       | safe }}
    var premium_to_collatral_ratio = {{ premium_to_collatral_ratio | safe }}
    var scatter_data = [{
                          type            : "scatter",
                          toolTipContent  : "sell {symbol} {strike}p {exp_date} at {premium}<br/>premium_to_collatral (annual) %: {y} ({annual_return})<br/>curr_price: {curr_price}<br/>ownership_cost: {ownership_cost}<br/>otm %: {otm_percent}<br/>drop_before_loss %: {drop_to_loss_percent}<br/>iv: {iv}%<br/>delta: {delta}<br/>theta: {theta}<br/>days to expiry: {x}",
                          dataPoints      : []
                        }];
    var chart = new CanvasJS.Chart("chartContainer",
                                   {
                                     backgroundColor : "transparent",
                                     title           : {fontColor : 'white', fontSize: 25, text: "premium_to_collatral_ratio vs coverd call"},
                                     axisX           : {titleFontColor : 'white', titleFontSize: 25, labelFontColor: 'white', labelFontSize: 18, title:"days to expiry"},
                                     axisY           : {titleFontColor : 'white', titleFontSize: 25, labelFontColor: 'white', labelFontSize: 18, logarithmic: false, title: "premium_to_collatral_ratio"},
                                     data            : scatter_data,
                                   }
                                  );
    var min = delta[0];
    var max = delta[0];
    for (idx = 1; idx < delta.length; ++idx) {
      if (delta[idx] < min) {
        min = delta[idx];
      }
      if (delta[idx] > max) {
        max = delta[idx];
      }
    }
    for (idx = 0; idx < symbol.length; ++idx) {
      chart.options.data[0].dataPoints.push({
                                              x                    : dte[idx],
                                              y                    : premium_to_collatral_ratio[idx],
                                              iv                   : iv[idx],
                                              delta                : delta[idx],
                                              theta                : theta[idx],
                                              symbol               : symbol[idx],
                                              strike               : strike[idx],
                                              premium              : premium[idx],
                                              exp_date             : exp_date[idx],
                                              curr_price           : curr_price[idx],
                                              otm_percent          : otm_percent[idx],
                                              annual_return        : annual_return[idx],
                                              ownership_cost       : ownership_cost[idx],
                                              drop_to_loss_percent : drop_to_loss_percent[idx],
                                              markerSize           : 5,
                                              color                : delta_color(delta[idx], min, max)
                                            });
    }
    chart.render();
  }
</script>
{% endblock javascripts %}
