{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Summary {% endblock %}
<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/app.css">
{% endblock stylesheets %}
{% block content %}

<form action="/sell_options_chart/" method="POST">
  <h4 class="card-title">filters</h4>
  <table class="table table-bordered">
    <colgroup>
      <col class="one-five" />
      <col class="one-three" />
      <col class="one-nine" />
      <col class="five" />
      <col class="five" />
      <col class="five" />
      <col class="six" />
      <col class="six" />
      <col class="six" />
      <col class="four" />
      <col class="four" />
      <col class="six" />
    </colgroup>
    <tbody>
      <tr>
        <th style="text-align:center"> tickers </th>
        <th style="text-align:center"> Sector </th>
        <th style="text-align:center"> Industry </th>
        <th style="text-align:center"> MinPrice </th>
        <th style="text-align:center"> MaxPrice </th>
        <th style="text-align:center"> MaxDTE </th>
        <th style="text-align:center"> MinStrike % </th>
        <th style="text-align:center"> MaxStrike % </th>
        <th style="text-align:center"> MinProfit % </th>
        <th style="text-align:center"> Calls </th>
        <th style="text-align:center"> Puts </th>
      </tr>
      <tr>
        <td style="text-align:center"> <input id="tickers"                  type="text"     name="tickers"                  value="{{ tickers }}"> </td>
        <td style="text-align:center"> <select id="sector"                  name="sector">   <option>Select Sector  </option> </select> </td>
        <td style="text-align:center"> <select id="industry"                name="industry"> <option>Select Industry</option> </select> </td>
        <td style="text-align:center"> <input id="min_price"                type="text"     name="min_price"                value="{{ min_price }}"> </td>
        <td style="text-align:center"> <input id="max_price"                type="text"     name="max_price"                value="{{ max_price }}"> </td>
        <td style="text-align:center"> <input id="max_days_to_exp"          type="text"     name="max_days_to_exp"          value="{{ max_days_to_exp }}"> </td>
        <td style="text-align:center"> <input id="min_strike_pc"            type="text"     name="min_strike_pc"            value="{{ min_strike_pc }}"> </td>
        <td style="text-align:center"> <input id="max_strike_pc"            type="text"     name="max_strike_pc"            value="{{ max_strike_pc }}"> </td>
        <td style="text-align:center"> <input id="min_profit_pc"            type="text"     name="min_profit_pc"            value="{{ min_profit_pc }}"> </td>
        <td style="text-align:center"> <input id="sell_calls"               type="checkbox" name="sell_calls"               {% if sell_calls %} checked{% endif %}> </td>
        <td style="text-align:center"> <input id="sell_puts"                type="checkbox" name="sell_puts"                {% if sell_puts  %} checked{% endif %}> </td>
        <th style="text-align:center"> <input type="submit" value="submit" name='submit'> </th>
      </tr>
    </tbody>
  </table>
  {% csrf_token %}
  <div id="chartContainer" style="height: 700px; width: 100%;"></div>
</form>

{% endblock content %}
{% block plugin_javascripts %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock plugin_javascripts %}
{% block javascripts %}
<script>
  var call_colors = [
    '#8e33b5',
    '#9a49bd',
    '#a760c5',
    '#b377cd',
    '#c08dd5',
    '#cca4de',
    '#d9bbe6',
    '#e5d1ee',
    '#f2e8f6',
    '#ffffff',
  ];

  var put_colors = [
    '#3e36f7',
    '#534cf7',
    '#6862f8',
    '#7e79f9',
    '#938ffa',
    '#a9a5fb',
    '#bebcfc',
    '#d4d2fd',
    '#e9e8fe',
    '#ffffff',
  ];

  function delta_color(type, delta, min_p_delta, max_p_delta, min_c_delta, max_c_delta) {
    if (type == 'c') {
      var diff = max_c_delta - min_c_delta;
      delta = (delta - min_c_delta) * call_colors.length / diff;
      delta = Math.floor(delta);
      if (delta == call_colors.length)
      {
        delta = call_colors.length - 1;
      }
      return call_colors[delta];
    } else {
      var diff = max_p_delta - min_p_delta;
      delta = (delta - min_p_delta) * put_colors.length / diff;
      delta = Math.floor(delta);
      if (delta == put_colors.length)
      {
        delta = put_colors.length - 1;
      }
      return put_colors[delta];
    }
  }

  window.onload = function () {
    var idx                        = 0;
    var iv                         = {{ iv                         | safe }}
    var dte                        = {{ dte                        | safe }}
    var type                       = {{ type                       | safe }}
    var delta                      = {{ delta                      | safe }}
    var theta                      = {{ theta                      | safe }}
    var symbol                     = {{ symbol                     | safe }}
    var strike                     = {{ strike                     | safe }}
    var premium                    = {{ premium                    | safe }}
    var exp_date                   = {{ exp_date                   | safe }}
    var profit_pc                  = {{ profit_pc                  | safe }}
    var curr_price                 = {{ curr_price                 | safe }}
    var itm_percent                = {{ itm_percent                | safe }}
    var max_profit_pc              = {{ max_profit_pc              | safe }}
    var annual_return              = {{ annual_return              | safe }}
    var ownership_cost             = {{ ownership_cost             | safe }}
    var annual_max_return          = {{ annual_max_return          | safe }}
    var percent_drop_before_loss   = {{ percent_drop_before_loss   | safe }}
    var sector_options             = {{ sector_options             | safe }};
    var industry_options           = {{ industry_options           | safe }};
    var sector_selected            = "{{ sector_selected           | safe }}";
    var industry_selected          = "{{ industry_selected         | safe }}";

    var scatter_data = [{
                          type            : "scatter",
                          toolTipContent  : "sell {symbol} {strike}{type} {exp_date} at {premium}\
                                            <br/>profit_to_collatral (annual) %: {y} ({annual_return})\
                                            <br/>curr_price: {curr_price}\
                                            <br/>ownership_cost: {ownership_cost}\
                                            <br/>otm %: {itm_percent}\
                                            <br/>drop_before_loss %: {percent_drop_before_loss}\
                                            <br/>iv: {iv}%\
                                            <br/>delta: {delta}\
                                            <br/>theta: {theta}\
                                            <br/>days to expiry: {dte}",
                          dataPoints      : []
                        }];
    var chart = new CanvasJS.Chart("chartContainer",
                                   {
                                     backgroundColor : "transparent",
                                     title           : {
                                                          fontColor : 'white',
                                                          fontSize: 25,
                                                          text: "profit_pc vs coverd call"
                                                       },
                                     axisX           : {
                                                          titleFontColor : 'white',
                                                          titleFontSize: 25,
                                                          labelFontColor: 'white',
                                                          labelFontSize: 18,
                                                          title:"days to expiry"
                                                       },
                                     axisY           : {
                                                          titleFontColor : 'white',
                                                          titleFontSize: 25,
                                                          labelFontColor: 'white',
                                                          labelFontSize: 18,
                                                          logarithmic: false,
                                                          title: "profit_pc"
                                                       },
                                     data            : scatter_data,
                                   }
                                  );
    var min_p_delta = 0;
    var max_p_delta = -1;
    var min_c_delta = 1;
    var max_c_delta = 0;
    for (idx = 1; idx < delta.length; ++idx) {
      if (type[idx] == 'p') {
        if (delta[idx] < min_p_delta) {
          min_p_delta = delta[idx];
        }
        if (delta[idx] > max_p_delta) {
          max_p_delta = delta[idx];
        }
      } else {
        if (delta[idx] < min_c_delta) {
          min_c_delta = delta[idx];
        }
        if (delta[idx] > max_c_delta) {
          max_c_delta = delta[idx];
        }
      }
    }
    for (idx = 0; idx < symbol.length; ++idx) {
      var x_tick = dte[idx];
      if (type[idx] == 'c') {
        // shift calls by 0.5 for easy display
        x_tick = x_tick + 0.5;
      }
      chart.options.data[0].dataPoints.push({
                                              x                        : x_tick,
                                              y                        : profit_pc[idx],
                                              iv                       : iv[idx],
                                              dte                      : dte[idx],
                                              type                     : type[idx],
                                              delta                    : delta[idx],
                                              theta                    : theta[idx],
                                              symbol                   : symbol[idx],
                                              strike                   : strike[idx],
                                              premium                  : premium[idx],
                                              exp_date                 : exp_date[idx],
                                              curr_price               : curr_price[idx],
                                              itm_percent              : itm_percent[idx],
                                              annual_return            : annual_return[idx],
                                              ownership_cost           : ownership_cost[idx],
                                              percent_drop_before_loss : percent_drop_before_loss[idx],
                                              markerSize               : 4,
                                              color                    : delta_color(type[idx], delta[idx], min_p_delta, max_p_delta, min_c_delta, max_c_delta)
                                            });
    }
    chart.render();

    sector_options.forEach( function(item) {
      var el = document.createElement("option");
      el.text = item;
      el.value = item;
      if (sector_selected == item) {
        el.selected = true;
      }
      document.getElementById("sector").appendChild(el);
    });

    industry_options.forEach( function(item) {
      var el = document.createElement("option");
      el.text = item;
      el.value = item;
      if (industry_selected == item) {
        el.selected = true;
      }
      document.getElementById("industry").appendChild(el);
    });

  }
</script>
{% endblock javascripts %}
