{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Summary {% endblock %}
<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/app.css">
{% endblock stylesheets %}
{% block content %}

<form action="/sell_options_chart/" method="POST">
  <table class="table table-bordered">
    <colgroup>
      <col class="one-five" />
      <col class="one-three" />
      <col class="two-zero" />
      <col class="six" />
      <col class="six" />
      <col class="six" />
      <col class="six" />
      <col class="six" />
    </colgroup>
    <tbody>
      <tr>
        <th style="text-align:center"> tickers </th>
        <th style="text-align:center"> Sector </th>
        <th style="text-align:center"> Industry </th>
        <th style="text-align:center"> MinPrice </th>
        <th style="text-align:center"> MaxPrice </th>
        <th style="text-align:center"> MaxDTE </th>
        <th style="text-align:center"> MinProfit % </th>
        <th style="text-align:center"> Screener </th>
      </tr>
      <tr>
        <td style="text-align:center"> <input id="tickers"                  type="text"     name="tickers"                  value="{{ tickers_str }}"> </td>
        <td style="text-align:center"> <select id="sector"                  name="sector">   <option>Select Sector  </option> </select> </td>
        <td style="text-align:center"> <select id="industry"                name="industry"> <option>Select Industry</option> </select> </td>
        <td style="text-align:center"> <input id="min_price"                type="text"     name="min_price"                value="{{ min_price }}"> </td>
        <td style="text-align:center"> <input id="max_price"                type="text"     name="max_price"                value="{{ max_price }}"> </td>
        <td style="text-align:center"> <input id="max_days_to_exp"          type="text"     name="max_days_to_exp"          value="{{ max_days_to_exp }}"> </td>
        <td style="text-align:center"> <input id="min_profit_pc"            type="text"     name="min_profit_pc"            value="{{ min_profit_pc }}"> </td>
        <th style="text-align:center"> <input type="submit" value="submit" name='submit'> </th>
      </tr>
    </tbody>
  </table>
  {% csrf_token %}
  <div id="chartContainer" style="height: 700px; width: 100%;"></div>
  <table class="table table-bordered">
    <colgroup>
      <col class="eight" />
      <col class="eight" />
      <col class="eight" />
      <col class="eight" />
      <col class="four" />
      <col class="eight" />
      <col class="eight" />
      <col class="eight" />
      <col class="eight" />
      <col class="four" />
      <col class="five" />
    </colgroup>
    <tbody>
      <tr>
        <th style="text-align:center"> MinStrike(Call/ITM) % </th>
        <th style="text-align:center"> MaxStrike(Call/OTM) % </th>
        <th style="text-align:center"> MinDelta(Call) </th>
        <th style="text-align:center"> MaxDelta(Call) </th>
        <th style="text-align:center"> Calls </th>
        <th style="text-align:center"> MinStrike(Put/OTM) % </th>
        <th style="text-align:center"> MaxStrike(Put/ITM) % </th>
        <th style="text-align:center"> MinDelta(Put) </th>
        <th style="text-align:center"> MaxDelta(Put) </th>
        <th style="text-align:center"> Puts </th>
        <th style="text-align:center"> Chart </th>
      </tr>
      <tr>
        <td style="text-align:center"> <input id="min_strike_pc_call" type="text"     name="min_strike_pc_call" value="{{ min_strike_pc_call }}"> </td>
        <td style="text-align:center"> <input id="max_strike_pc_call" type="text"     name="max_strike_pc_call" value="{{ max_strike_pc_call }}"> </td>
        <td style="text-align:center"> <input id="min_delta_call"     type="text"     name="min_delta_call"     value="{{ min_delta_call }}"> </td>
        <td style="text-align:center"> <input id="max_delta_call"     type="text"     name="max_delta_call"     value="{{ max_delta_call }}"> </td>
        <td style="text-align:center"> <input id="sell_calls"         type="checkbox" name="sell_calls"         onchange="myFunction()" {% if sell_calls %} checked {% endif %}> </td>
        
        <td style="text-align:center"> <input id="min_strike_pc_put"  type="text"     name="min_strike_pc_put"  value="{{ min_strike_pc_put }}"> </td>
        <td style="text-align:center"> <input id="max_strike_pc_put"  type="text"     name="max_strike_pc_put"  value="{{ max_strike_pc_put }}"> </td>
        <td style="text-align:center"> <input id="min_delta_put"      type="text"     name="min_delta_put"      value="{{ min_delta_put }}"> </td>
        <td style="text-align:center"> <input id="max_delta_put"      type="text"     name="max_delta_put"      value="{{ max_delta_put }}"> </td>
        <td style="text-align:center"> <input id="sell_puts"          type="checkbox" name="sell_puts"          onchange="myFunction()" {% if sell_puts %} checked {% endif %}> </td>

        <th style="text-align:center"> <input type="button" value="refresh" name='refresh' onclick="myFunction()"> </th>
      </tr>
    </tbody>
  </table>
  <div>
    <table class="table table-bordered" id="show_tickers_table">
    </table>
  </div>
</form>

{% endblock content %}
{% block plugin_javascripts %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock plugin_javascripts %}
{% block javascripts %}
<script>
  var call_colors = [
    '#8e33b5',
    '#9a49bd',
    '#a760c5',
    '#b377cd',
    '#c08dd5',
    '#cca4de',
    '#d9bbe6',
    '#e5d1ee',
    '#f2e8f6',
    '#ffffff',
  ];

  var put_colors = [
    '#3e36f7',
    '#534cf7',
    '#6862f8',
    '#7e79f9',
    '#938ffa',
    '#a9a5fb',
    '#bebcfc',
    '#d4d2fd',
    '#e9e8fe',
    '#ffffff',
  ];

  var min_p_delta = 0;
  var max_p_delta = -1;
  var min_c_delta = 1;
  var max_c_delta = 0;
  var highlight_type = '';
  var highlight_strike = 0;
  var highlight_symbol = '';
  /* filter related parameter */
  var sell_calls                 = "{{ sell_calls }}";
  var sell_puts                  = "{{ sell_puts }}";
  var sector_selected            = "{{ sector_selected }}";
  var industry_selected          = "{{ industry_selected }}";
  var tickers                    = {{ tickers                    | safe }};
  var min_delta_put              = {{ min_delta_put              | safe }};
  var max_delta_put              = {{ max_delta_put              | safe }};
  var min_delta_call             = {{ min_delta_call             | safe }};
  var max_delta_call             = {{ max_delta_call             | safe }};
  var min_strike_pc_put          = {{ min_strike_pc_put          | safe }};
  var max_strike_pc_put          = {{ max_strike_pc_put          | safe }};
  var min_strike_pc_call         = {{ min_strike_pc_call         | safe }};
  var max_strike_pc_call         = {{ max_strike_pc_call         | safe }};
  var sector_options             = {{ sector_options             | safe }};
  var industry_options           = {{ industry_options           | safe }};
  /* data related parameter */
  var iv                         = {{ iv                         | safe }};
  var dte                        = {{ dte                        | safe }};
  var type                       = {{ type                       | safe }};
  var delta                      = {{ delta                      | safe }};
  var theta                      = {{ theta                      | safe }};
  var symbol                     = {{ symbol                     | safe }};
  var strike                     = {{ strike                     | safe }};
  var premium                    = {{ premium                    | safe }};
  var exp_date                   = {{ exp_date                   | safe }};
  var profit_pc                  = {{ profit_pc                  | safe }};
  var curr_price                 = {{ curr_price                 | safe }};
  var itm_percent                = {{ itm_percent                | safe }};
  var max_profit_pc              = {{ max_profit_pc              | safe }};
  var annual_return              = {{ annual_return              | safe }};
  var ownership_cost             = {{ ownership_cost             | safe }};
  var annual_max_return          = {{ annual_max_return          | safe }};
  var percent_drop_before_loss   = {{ percent_drop_before_loss   | safe }};
  var scatter_data = [{
    type            : "scatter",
    toolTipContent  : "sell {symbol} {strike}{type} {exp_date} at {premium}\
                      <br/>profit_to_collatral (annual) %: {y} ({annual_return})\
                      <br/>curr_price: {curr_price}\
                      <br/>ownership_cost: {ownership_cost}\
                      <br/>otm %: {itm_percent}\
                      <br/>drop_before_loss %: {percent_drop_before_loss}\
                      <br/>iv: {iv}%\
                      <br/>delta: {delta}\
                      <br/>theta: {theta}\
                      <br/>days to expiry: {dte}",
    dataPoints      : []
  }];
  var chart = new CanvasJS.Chart("chartContainer", {
    backgroundColor : "transparent",
    title           : {
                        fontColor : 'white',
                        fontSize: 25,
                        text: "profit_pc vs coverd call"
                      },
    axisX           : {
                        titleFontColor : 'white',
                        titleFontSize: 25,
                        labelFontColor: 'white',
                        labelFontSize: 18,
                        title:"days to expiry"
                      },
    axisY           : {
                        titleFontColor : 'white',
                        titleFontSize: 25,
                        labelFontColor: 'white',
                        labelFontSize: 18,
                        logarithmic: false,
                        title: "profit_pc"
                      },
    data            : scatter_data,
  });

  function myFunction() {
    var idx = 0;
    min_p_delta = 0;
    max_p_delta = -1;
    min_c_delta = 1;
    max_c_delta = 0;
    sell_calls         = document.getElementById('sell_calls').checked;
    sell_puts          = document.getElementById('sell_puts').checked;
    min_delta_put      = document.getElementById('min_delta_put').value;
    max_delta_put      = document.getElementById('max_delta_put').value;
    min_delta_call     = document.getElementById('min_delta_call').value;
    max_delta_call     = document.getElementById('max_delta_call').value;
    min_strike_pc_put  = document.getElementById('min_strike_pc_put').value;
    max_strike_pc_put  = document.getElementById('max_strike_pc_put').value;
    min_strike_pc_call = document.getElementById('min_strike_pc_call').value;
    max_strike_pc_call = document.getElementById('max_strike_pc_call').value;
    // console.log('sell_calls:         ' + sell_calls);
    // console.log('sell_puts:          ' + sell_puts);
    // console.log('min_delta_put:      ' + min_delta_put);
    // console.log('max_delta_put:      ' + max_delta_put);
    // console.log('min_delta_call:     ' + min_delta_call);
    // console.log('max_delta_call:     ' + max_delta_call);
    // console.log('min_strike_pc_put:  ' + min_strike_pc_put);
    // console.log('max_strike_pc_put:  ' + max_strike_pc_put);
    // console.log('min_strike_pc_call: ' + min_strike_pc_call);
    // console.log('max_strike_pc_call: ' + max_strike_pc_call);
    // for (idx = 0; idx < tickers.length; ++idx) {
    //   console.log(tickers[idx] + ' : ' + document.getElementById(tickers[idx]).checked);
    // }
    // console.log('refresh clicked');
    chart.options.data[0].dataPoints = [];
    // console.log(chart.options.data[0].dataPoints.length);
    for (idx = 0; idx < symbol.length; ++idx) {
      add_data_point(idx);
    }
    // console.log(chart.options.data[0].dataPoints.length);
    for (idx = 0; idx < chart.options.data[0].dataPoints.length; ++idx) {
      update_color(idx);
    }
    chart.render();
  }

  function delta_color(type, delta, min_p_delta, max_p_delta, min_c_delta, max_c_delta) {
    if (type == 'c') {
      var diff = max_c_delta - min_c_delta;
      delta = (delta - min_c_delta) * call_colors.length / diff;
      delta = Math.floor(delta);
      if (delta == call_colors.length)
      {
        delta = call_colors.length - 1;
      }
      return call_colors[delta];
    } else {
      var diff = max_p_delta - min_p_delta;
      delta = (delta - min_p_delta) * put_colors.length / diff;
      delta = Math.floor(delta);
      if (delta == put_colors.length)
      {
        delta = put_colors.length - 1;
      }
      return put_colors[delta];
    }
  }

  function click_handler(e) {
    highlight_symbol = e.dataPoint.symbol;
    highlight_strike = e.dataPoint.strike;
    highlight_type = e.dataPoint.type;
    console.log(e.dataPoint.symbol +  ' ' + e.dataPoint.strike + e.dataPoint.type);
    myFunction();
  }

  function add_data_point(idx) {
    var x_tick = dte[idx];

    if (document.getElementById(symbol[idx]).checked == false) {
      return;
    }

    if (type[idx] == 'c') {
      if (sell_calls != 'True' && sell_calls != true) {
        return;
      }
      /* shift calls by 0.5 for easy display */
      x_tick = x_tick + 0.5;
      if (delta[idx] < min_c_delta) {
        min_c_delta = delta[idx];
      }
      if (delta[idx] > max_c_delta) {
        max_c_delta = delta[idx];
      }
      var min_strike = (curr_price[idx] * (100 - min_strike_pc_call) / 100);
      var max_strike = (curr_price[idx] * (100 + max_strike_pc_call) / 100);
      // console.log('min_strike_call: ' + min_strike);
      // console.log('max_strike_call: ' + max_strike);
      if (!(strike[idx] >= min_strike && strike[idx] <= max_strike && delta[idx] >= min_delta_call && delta[idx] <= max_delta_call)) {
        return;
      }
    } else {
      if (sell_puts != 'True' && sell_puts != true) {
        return;
      }
      if (delta[idx] < min_p_delta) {
        min_p_delta = delta[idx];
      }
      if (delta[idx] > max_p_delta) {
        max_p_delta = delta[idx];
      }
      var min_strike = (curr_price[idx] * (100 - min_strike_pc_put) / 100);
      var max_strike = (curr_price[idx] * (100 + max_strike_pc_put) / 100);
      // console.log('min_strike_put: ' + min_strike);
      // console.log('max_strike_put: ' + max_strike);
      if (!(strike[idx] >= min_strike && strike[idx] <= max_strike && delta[idx] >= min_delta_put && delta[idx] <= max_delta_put)) {
        return;
      }
    }
    chart.options.data[0].dataPoints.push({
      x                        : x_tick,
      y                        : profit_pc[idx],
      iv                       : iv[idx],
      dte                      : dte[idx],
      type                     : type[idx],
      delta                    : delta[idx],
      theta                    : theta[idx],
      symbol                   : symbol[idx],
      strike                   : strike[idx],
      premium                  : premium[idx],
      exp_date                 : exp_date[idx],
      curr_price               : curr_price[idx],
      itm_percent              : itm_percent[idx],
      annual_return            : annual_return[idx],
      ownership_cost           : ownership_cost[idx],
      percent_drop_before_loss : percent_drop_before_loss[idx],
      markerSize               : 4,
      click                    : click_handler,
      color                    : '#ffffff'
    });
  }

  function update_color(idx) {
    if (highlight_symbol != '' &&
        highlight_symbol == chart.options.data[0].dataPoints[idx].symbol &&
        highlight_strike == chart.options.data[0].dataPoints[idx].strike &&
        highlight_type   == chart.options.data[0].dataPoints[idx].type) {
      chart.options.data[0].dataPoints[idx].color = '#ff0000';
    } else {
      chart.options.data[0].dataPoints[idx].color = delta_color(chart.options.data[0].dataPoints[idx].type,
                                                                chart.options.data[0].dataPoints[idx].delta,
                                                                min_p_delta, max_p_delta, min_c_delta, max_c_delta);
    }
  }

  function change_enter_action(input_field) {
    document.getElementById(input_field).onkeypress = function(e) {
     var key = e.charCode || e.keyCode || 0;     
     if (key == 13) {
        myFunction();
        return false;
     }
    }
  }

  window.onload = function () {
    var idx = 0;

    var table = document.getElementById("show_tickers_table");
    var row   = table.insertRow(0);
    for (idx = 0; idx < tickers.length; ++idx) {
      var checkbox = document.createElement('input');
      checkbox.type = "checkbox";
      checkbox.name = tickers[idx];
      checkbox.id = tickers[idx];
      checkbox.checked = true;
      checkbox.onchange = myFunction;
      var label = document.createElement('label')
      label.htmlFor = tickers[idx];
      label.appendChild(document.createTextNode(tickers[idx]));
      var cell = row.insertCell(-1);
      cell.appendChild(checkbox);
      cell.appendChild(label);
    }

    change_enter_action("min_strike_pc_call");
    change_enter_action("max_strike_pc_call");
    change_enter_action("min_delta_call");
    change_enter_action("max_delta_call");
    change_enter_action("min_strike_pc_put");
    change_enter_action("max_strike_pc_put");
    change_enter_action("min_delta_put");
    change_enter_action("max_delta_put");

    for (idx = 0; idx < symbol.length; ++idx) {
      add_data_point(idx);
    }
    for (idx = 0; idx < chart.options.data[0].dataPoints.length; ++idx) {
      update_color(idx);
    }
    chart.render();

    sector_options.forEach( function(item) {
      var el = document.createElement("option");
      el.text = item;
      el.value = item;
      if (sector_selected == item) {
        el.selected = true;
      }
      document.getElementById("sector").appendChild(el);
    });

    industry_options.forEach( function(item) {
      var el = document.createElement("option");
      el.text = item;
      el.value = item;
      if (industry_selected == item) {
        el.selected = true;
      }
      document.getElementById("industry").appendChild(el);
    });
  }
</script>
{% endblock javascripts %}
