{% extends "layouts/base.html" %}

{% block title %} Summary {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/app.css">
{% endblock stylesheets %}

{% block content %}

<form action="/summary/" method="POST">
  {% csrf_token %}
  <div class="content-wrapper">
    <!-- <div class="row">
      <div class="col grid-margin">
        <input type="submit" value="Get Profile Data" name='get_profile_data'>
      </div>
    </div> -->
    <div class="row">
      <div class="col grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <div class="col-sm-6">
                    <h4 class="mb-0" style="font-family:courier;">$ {{options_equity | floatformat:2}}</h4>
                  </div>
                  <div class="col-sm-9">
                    <div class="row">
                      {% if total_options_unrealized_pl < 0 %}
                        <p class="text-danger ml-0 mb-0 font-weight-small" style="font-family:courier;">total unrealized_pl: $ {{total_options_unrealized_pl | floatformat:2}}</p>
                      {% else %}
                        <p class="text-success ml-0 mb-0 font-weight-small" style="font-family:courier;">total unrealized_pl: $ {{total_options_unrealized_pl | floatformat:2}}</p>
                      {% endif %}
                    </div>
                    <div class="row">
                      {% if today_options_unrealized_pl < 0 %}
                        <p class="text-danger ml-0 mb-0 font-weight-small" style="font-family:courier;">today unrealized_pl: $ {{today_options_unrealized_pl | floatformat:2}}</p>
                      {% else %}
                        <p class="text-success ml-0 mb-0 font-weight-small" style="font-family:courier;">today unrealized_pl: $ {{today_options_unrealized_pl | floatformat:2}}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="text-muted font-weight-normal">Options</h6>
          </div>
        </div>
      </div>
      <div class="col grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                  <div class="col-sm-6">
                    <h4 class="mb-0" style="font-family:courier;">$ {{stocks_equity | floatformat:2}}</h4>
                  </div>
                  <div class="col-sm-9">
                    <div class="row">
                      {% if total_stocks_unrealized_pl < 0 %}
                        <p class="text-danger ml-0 mb-0 font-weight-small" style="font-family:courier;">total unrealized_pl: $ {{total_stocks_unrealized_pl | floatformat:2}}</p>
                      {% else %}
                        <p class="text-success ml-0 mb-0 font-weight-small" style="font-family:courier;">total unrealized_pl: $ {{total_stocks_unrealized_pl | floatformat:2}}</p>
                      {% endif %}
                    </div>
                    <div class="row">
                      {% if today_stocks_unrealized_pl < 0 %}
                        <p class="text-danger ml-0 mb-0 font-weight-small" style="font-family:courier;">today unrealized_pl: $ {{today_stocks_unrealized_pl | floatformat:2}}</p>
                      {% else %}
                        <p class="text-success ml-0 mb-0 font-weight-small" style="font-family:courier;">today unrealized_pl: $ {{today_stocks_unrealized_pl | floatformat:2}}</p>
                      {% endif %}
                    </div>
                    <div class="row">
                      {% if today_stocks_realized_pl < 0 %}
                        <p class="text-danger ml-0 mb-0 font-weight-small" style="font-family:courier;">today __realized_pl: $ {{today_stocks_realized_pl | floatformat:2}}</p>
                      {% else %}
                        <p class="text-success ml-0 mb-0 font-weight-small" style="font-family:courier;">today __realized_pl: $ {{today_stocks_realized_pl | floatformat:2}}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="text-muted font-weight-normal">Stocks</h6>
          </div>
        </div>
      </div>
      <div class="col grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="d-flex align-items-center align-self-start">
                  <div class="col-sm-9">
                    <h4 class="mb-0" style="font-family:courier;">$ {{margin_or_cash | floatformat:2}}</h4>
                  </div>
                </div>
                <h6 class="text-muted font-weight-normal">Margin used/Cash</h6>
              </div>
              <div class="col">
                <div class="d-flex align-items-center align-self-start">
                  <h4 class="mb-0" style="font-family:courier;">$ {{portfolio_value | floatformat:2}}</h4>
                </div>
                <h6 class="text-muted font-weight-normal">Portfolio Value</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Portfolio Summary Pie chart</h4>
            <canvas id="piechartportfolio" style="height:250px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Portfolio Summary Bar chart</h4>
            <canvas id="barChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Stocks Held Pie chart</h4>
            <canvas id="piechartstocks" style="height:250px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Options Pie chart</h4>
            <canvas id="piechartoptions" style="height:250px"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}

{% block plugin_javascripts %}

<script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

{% endblock plugin_javascripts %}

{% block javascripts %}

<script>

  function calculatePoint(i, intervalSize, colorRangeInfo) {
    var { colorStart, colorEnd, useEndAsStart } = colorRangeInfo;
    return (useEndAsStart ? (colorEnd - (i * intervalSize)) : (colorStart + (i * intervalSize)));
  }

  function interpolateColors(dataLength, colorScale, colorRangeInfo) {
    var { colorStart, colorEnd } = colorRangeInfo;
    var colorRange = colorEnd - colorStart;
    var intervalSize = colorRange / dataLength;
    var i, colorPoint;
    var colorArray = [];

    for (i = 0; i < dataLength; i++) {
      colorPoint = calculatePoint(i, intervalSize, colorRangeInfo);
      colorArray.push(colorScale(colorPoint));
    }
    return colorArray;
  }

  var portfoliodata = {
    labels: {{ portfolio_labels | safe }},
    datasets: [{
      data: {{ portfolio_data | safe }},
      backgroundColor: interpolateColors({{ portfolio_data | length }}, d3.interpolateCool, {colorStart: 0, colorEnd: 0.65, useEndAsStart: false}),
      borderColor: interpolateColors({{ portfolio_data | length }}, d3.interpolateCool, {colorStart: 0, colorEnd: 0, useEndAsStart: false}),
      borderWidth: 1,
      fill: false
    }]
  };

  var stocksdata = {
    labels: {{ stocks_labels | safe }},
    datasets: [{
      data: {{ stocks_data | safe }},
      backgroundColor: interpolateColors({{ stocks_data | length }}, d3.interpolateRainbow, {colorStart: 0, colorEnd: 1, useEndAsStart: false}),
      borderColor: interpolateColors({{ stocks_data | length }}, d3.interpolateRainbow, {colorStart: 0, colorEnd: 0, useEndAsStart: false}),
      borderWidth: 1,
      fill: false
    }]
  };

  var optionsdata = {
    labels: {{ options_labels | safe }},
    datasets: [{
      data: {{ options_data | safe }},
      backgroundColor: interpolateColors({{ options_data | length }}, d3.interpolateRainbow, {colorStart: 0, colorEnd: 1, useEndAsStart: false}),
      borderColor: interpolateColors({{ options_data | length }}, d3.interpolateRainbow, {colorStart: 0, colorEnd: 0, useEndAsStart: false}),
      borderWidth: 1,
      fill: false
    }]
  };

  var barchartoptions = {
    scales: {
      yAxes: [{ ticks: { beginAtZero: true }, gridLines: { color: "rgba(204, 204, 204,0.1)" } }],
      xAxes: [{ gridLines: { color: "rgba(204, 204, 204,0.1)" } }]
    },
    legend: { display: false },
    elements: { point: { radius: 0 } }
  };

  window.onload = function ()
  {
    var ctx = document.getElementById('piechartportfolio').getContext('2d');
    new Chart(ctx, { type: 'doughnut', data: portfoliodata, options: {responsive: true, legend: { display: true }} });

    var ctx = document.getElementById('piechartstocks').getContext('2d');
    new Chart(ctx, { type: 'doughnut', data: stocksdata, options: {responsive: true, legend: { display: true }} });

    var ctx = document.getElementById('piechartoptions').getContext('2d');
    new Chart(ctx, { type: 'doughnut', data: optionsdata, options: {responsive: true, legend: { display: true }} });
  
    var ctx = document.getElementById('barChart').getContext('2d');
    new Chart(ctx, { type: 'bar', data: portfoliodata, options: barchartoptions });
  };

</script>

{% endblock javascripts %}